* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFF;
    width: 400px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.35);
}

.container > h1 {
    color: #003050;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.username-container, .password-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    font-weight: bolder;
    width: 100%;
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #003050;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

button {
    color: white;
    background-color: #003050;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    border: 2px solid #003050;
    cursor: pointer;
}

button:hover {
    color: #003050;
    background-color: #FFF;
}

label {
    color: #303030;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    width: 70px;
    position: absolute;
    left: 5%;
    top: 50%;
    transition: .5s;
    transform: translateY(-50%);
}

#user-label.active {
    color: #FFF;
    font-size: .7em;
    background-color: #003050;
    padding: 2px 5px;
    border-radius: 5px;
    transform: translateY(-28px);
}

#pass-label.active {
    color: #003050;
    font-size: .7em;
    background-color: #FFF;
    padding: 2px 5px;
    border: 2px solid #003050;
    border-radius: 5px;
    transform: translateY(-28px);
}